@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");

* {
  padding: 0;
  margin: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}
.w-screen {
  width: 100vw;
}
.h-screen {
  height: 100vh;
}
.z-10 {
  z-index: 10;
}

.left-5 {
  left: 1.25em;
}

.right-5 {
  right: 1.25em;
}

.top-5 {
  top: 1.25em;
}

.bottom-5 {
  bottom: 1.25em;
}

.flex {
  display: flex;
}

.items-center {
  justify-items: center;
}

.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.overflow-hidden {
  overflow: hidden;
}

.text-7xl {
  font-size: 16em;
}

.bg-aliceblue {
  background: aliceblue;
}

.ml-3 {
  margin-left: 1.2em;
}

.text-lg {
  font-size: 36px;
  font-weight: 600;
  margin-top: -50px;
}
